[Unit]
Description=Schedule SaveToA backup target %i
Documentation=https://github.com/bionicman/savetoa

[Timer]
OnCalendar=daily
RandomizedDelaySec=30m
Persistent=true
Unit=savetoa@%i.service

[Install]
WantedBy=timers.target
